<div class="top-container">
	<div class="topInfo" id="topInfo">
		<div class="topPic" id="topPic">
			<img src="{{STATIC_URL }}res/head-pic.png" style="width:650px;height:250px">
		</div>
		<div class"topTextInfo" id="topTextInfo">
			<div class="topPlaceName">
			<p>旧金山</p>
			</div>
			<div>
				<table class="info-items">
				<tr class="item">
				<td class="item-icon">
				<img src="{{STATIC_URL }}res/attraction.png" style="width:23px;height:19px">
				</td>
				<td class="item-price">
				<p>120</p>
				</td>
				<td class="item-name">
				<p>景点</p>
				</td>
				</tr>
				<tr class="item">
				<td>
				<img src="{{STATIC_URL }}res/hotel.png" style="width:23px;height:19px">
				</td>
				<td>
				<p>320</p>
				</td>
				<td>
				<p>酒店</p>
				</td>
				</tr>
				<tr class="item">
				<td>
				<img src="{{STATIC_URL }}res/restaurant.png" style="width:23px;height:19px">
				</td>
				<td>
				<p>500+</p>
				</td>
				<td>
				<p>餐厅</p>
				</td>
				</tr>
				</table>
			</div>
		</div>
	</div>
</div>
