<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rating.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/my.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/order.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link  rel="stylesheet" href="{{ STATIC_URL }}css/carousel.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/header.css">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>

    <script lang="javascript" src="{{ STATIC_URL }}js/todolist.js"></script>
    <script lang="javascript" src="{{ STATIC_URL }}js/order.js"></script>
    <script lang="javascript">
        function rating(e) {
            alert(e.id);
        }
    </script>
</head>
<body id="body">

    {% include "index/header.html" %}
    <div class="container">
    {% include "menu/base.html" %}
    {% include "menu/order.html" %}
    
    <table class="place_table" style="width: 100%" CELLPADDING=6 RULES=GROUPS  FRAME=BOX>
        <col style="width:20%">
        <col style="width:40%">
        <col style="width:40%">
       {% for place in place_list %}
        <tbody>
        <tr>
            <td width="25%" rowspan="4"><img src="{{STATIC_URL }}images/{{place.images.all.0}}" height="150px" width="150px" /></td>
        </tr>
        <tr>
            <td width="60%">{{ place.name }}</td>
			<td class="heart">
				<img src="{{STATIC_URL }}res/heart_rating.png">
		    </td>
            <td class="score">{{ place.score }}</td>
        </tr>

        <tr>
            <td><h4><b>J大厨 推荐：</b></h4>{{ place.experience }}</td>
            <td colspan="2" class="list-spend-time">{{ place.recommendTime }}hr</td>
        </tr>
		<tr class="list-address-add">
			<td class="list-address">地址： {{ place.address }}</td>
			<td colspan="2" class="list-add-button" width="5%">
				<img class="bt-red-bg" src="{{STATIC_URL }}res/red-plus.png" id="{{ place.id }}" name="{{ place.name }}" onclick="addToMenu(this)">
			</td>
		</tr>
        </tbody>
        {% endfor %}
    </table>

    </div>
        
    {% include "index/footer.html" %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/holder.js"></script>
</body>
</html>
