<div class="content-grids">
<!--------------- 下面是我加的“游记导航” ------------------->
<div class="youjidaohang">
<div class="youji">游记</div>
<div class="jingxuan">精选</div>
<div class="zhuti">主题</div>
<div class="dangdirenfenxiang">当地人分享</div>
</div>
<!--------------- 上面是我加的“游记导航” ------------------->


<div class="wrap">
<div class="grid">
<a href="#"><img src="{{ STATIC_URL }}res/grids-img1.jpg" title="image-name" /></a>
<p>加州必赏-绝色优胜美地</p>
</div>
<div class="grid">
<a href="#"><img src="{{ STATIC_URL }}res/grids-img2.jpg" title="image-name" /></a>
<p>那些年我们一起过开的1号公路，美景，美食，好友</p>
</div>
<div class="grid last-grid">
<a href="#"><img src="{{ STATIC_URL }}res/grids-img3.jpg" title="image-name" /></a>
<p>旧金山，金门大桥，渔人码头，九曲花街，文艺入骨</p>
</div>
<div class="specials-heading">
<h3>MORE</h3>
</div>

<div class="clear"> </div>
</div>
</div>
