<div class="specials">
<!--------------- 下面是我加的“当地人” ------------------->
<div class="dangdiren">当地人</div>
<!--------------- 上面是我加的“当地人” ------------------->

<div class="wrap">
<div class="specials-grids">
<div class="special-grid">
<img src="{{ STATIC_URL }}res/grids-img1.jpg" title="image-name" />
<div class="profile">
<img src="images/profile.png" alt>
<a href="#">艾琳</a>
</div>
<p>留学生</p>
</div>
<div class="special-grid">
<img src="{{ STATIC_URL }}res/grids-img2.jpg" title="image-name" />
<div class="profile">
<img src="images/profile.png" alt>
<a href="#">Jason</a>
</div>
<p>私企老板</p>
</div>
<div class="special-grid spe-grid">
<img src="{{ STATIC_URL }}res/grids-img3.jpg" title="image-name" />
<div class="profile">
<img src="images/profile.png" alt>
<a href="#">陈越</a>
</div>
<p>当地土豪</p>
</div>
<div class="specials-heading">
<h3>MORE</h3>
</div>

<div class="clear"> </div>
</div>
</div>
</div>  
